<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

    <!-- Initialization for data source -->
    <bean id="dataSourceAnjuke"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://192.168.2.42:3306/anjuke"/>
        <property name="username" value="tdp"/>
        <property name="password" value="tdp123"/>
    </bean>


    <!-- Definition for dataSourceAnjuke bean -->

    <bean id="newHouseJdbcTemplate"
          class="com.tcloudata.spider.jdbc.NewHouseJdbcTemplate">
        <property name="dataSource" ref="dataSourceAnjuke"/>
    </bean>

    <bean id="newHouseHtmlJdbcTemplate"
          class="com.tcloudata.spider.jdbc.NewHouseHtmlJdbcTemplate">
        <property name="dataSource" ref="dataSourceAnjuke"/>
    </bean>

    <bean id="oldHouseHtmlJdbcTemplate"
          class="com.tcloudata.spider.jdbc.OldHouseHtmlJdbcTemplate">
        <property name="dataSource" ref="dataSourceAnjuke"/>
    </bean>

    <!-- Redis 配置-->
    <!-- jedis pool -->
    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="300"/>
        <property name="maxIdle" value="100"/>
        <property name="maxWaitMillis" value="500"/>
        <property name="testOnBorrow" value="true"/>
    </bean>
    <!-- old html jedis -->
    <bean id="jedisOldHtmlConnectionFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="usePool" value="true"/>
        <property name="hostName" value="192.168.2.43"/>
        <property name="port" value="6379"/>
        <property name="password" value=""/>
        <property name="timeout" value="500"/>
        <property name="database" value="15"/>
        <constructor-arg index="0" ref="jedisPoolConfig"/>
    </bean>
    <bean id="redisOldHtmlTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="jedisOldHtmlConnectionFactory"/>
        <!--
        <property name="valueSerializer">
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
        </property>
        <property name="keySerializer">
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
        </property>
        -->
    </bean>
</beans>